.modal{
    position: fixed;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    background: #000000c7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .container{
    flex: 0.5;
    flex-direction: column;
    align-items: baseline;
    box-shadow: 0 0 20px rgba(0,0,0 .8);
}
.modal .wrapper-content{
    width: 100%;
}

.row{
    display: flex;
    margin-bottom: 11px;
}
.row span{
    display: block;
}
.row span a{
    font-weight: normal;
    padding: 2px 8px;
    border-radius: 3px;
}
.row span:not(:first-child){
    margin-left: 25px;
}
.badge{
    padding: 3px;
    color: #fff;
    border-radius: 3px;
}

.modal .close{
    padding: 5px 43px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    position: relative;
    background-color:  #f65835;
    margin-bottom: 10px;
    opacity: 0.8;
    transition: ease-out 0.2;
}
.modal .close:hover{
    opacity: 1;
}

.modal .close::before{
    content: 'X';
    position: absolute;
    left: 25px;
}
.modal .row span p {
    text-align: justify;
    margin-top: 10px;
}