*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

*:focus{
    outline: 0;
}
html, body{
    height: 100%;
}

body{
   font: 14px sans-serif;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    cursor: pointer;
}

.button-logout{
    padding: 0.7em;
    background-color: #121212;
    max-width: 250px;
    color: #f8f8f8;
    transition: ease-out .2s;
    border-radius: 7px;
}
.button-logout:hover{
    border: 1px solid #121212;
    background-color: #fff;
    color: #121212;
}

.content{
    width: calc(100% - 200px);
    margin-left: 200px;
    padding: 0 20px;
}

.container {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 7px;
    padding: 1.8em;
}

@media screen and (max-width:700px) {
    .content{
        width: 100%;
        margin-left: 0
    }
}
